body {
  background-color: theme-color("grey-100");
}

// Basic styling for h1 and h2 headings
h1,
.basic-page__node-title h2,
.page__node-title h2,
.ipu-map-country h2,
.section-page__node-title h2 {
  line-height: 1.25em;
  font-weight: 400;
  padding-bottom: 4px;
  border-bottom: 2px solid color("ipu-teal");
  margin-bottom: 20px;
}

// h2's are 
h1 {
  color: color("ipu-dark-grey");
  font-size: $h1-font-size;
  border-width: 4px;
}

h2,
.sections__field-section-title {
  color: color("ipu-teal");
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 300;
}

.page__footer {
  background-color: theme-color("secondary");
}

#topbar {
  background-color: theme-color("secondary");
  padding: 0 0 4px 0;
  font-size: 0.8rem;
  ul {
    margin-bottom: 0;
  }
  ul.nav {
    text-align: right;
    :first-child {
      flex: 1;
    }
  }
  a {
    color: theme-color("light");
    padding: $navbar-nav-link-padding-x;
    &:hover {
      color: color("orange") !important;
      text-decoration: none;
    }
    &.active {
      background-color: color("white");
      color: color("ipu-grey");
    }
    &.nav-link {
      color: theme-color("light");
      padding: 0 $navbar-nav-link-padding-x;
      &:hover {
        color: color("orange") !important;
      }
      &::before {
        font-size: 1rem;
        display: block;
      }
      span {
        display: none;
      }
    }
    // &.follow-facebook::before {
    //   @include icon-brand("facebook");
    // }
    // &.follow-twitter::before {
    //   @include icon-brand("twitter");
    // }
  }

  .col-6.text-left .region-inner {
    display: flex;
    justify-content: flex-start;
    a {
      padding: 0.25em;
      display: block;
    }
  }
  ul.cross-site-navigation {
    white-space: nowrap;
  }
  /* Language switcher */
  .block--languagedropdownswitchercontent {
    display: inline-block;
    margin-left: 10px;
    .lang-dropdown-select-element {
      font-size: 0.85rem;
      border-radius: 0;
    }
  }
}
#branding img.logo {
  height: 90px;
  width: auto;
  padding: $navbar-padding-x $navbar-padding-y;
}
#branding .block--ipu-search {
  display: inline-block;
}
.example-download::after {
  font-family: "Font Awesome 5 Free", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  content: "\F093" !important;
}

#main-nav {
  background-color: color("white");
  border-width: 1px 0 4px 0;
  border-top-color: color("ipu-light-grey");
  border-bottom-color: color("ipu-blue");
  border-style: solid;
  .navbar-nav {
    flex-direction: row;
  }
  .dropdown-menu {
    padding: 0.25rem 0;
    margin: 0;
    border-radius: 1px;
  }
  .ultimenu {
    min-height: auto;
    padding: 0;
    /* Expand menu so it's twice as wide as parent (which is col-6)*/
    z-index: 5000;
    .ultimenu__flyout {
      background-color: #fff;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
      z-index: 2102;
      margin-right: -50%;
      width: 200%;
      .region-inner {
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        & > .block {
        }
      }
    }
    .ultimenu__item > a {
      font-size: 1rem;
      letter-spacing: 0.1em;
    }
  }
  .nav-item,
  .ultimenu__item {
    border-width: 0 0 0 1px;
    border-color: color("ipu-light-grey");
    border-style: solid;
    border-right-width: 0;
    display: inline-block;
    &.active .nav-link {
      background-color: color("ipu-teal-light");
      color: color("ipu-dark-grey");
      &:hover {
        background-color: color("ipu-teal");
        color: color("white");
      }
    }
    .nav-link,
    .ultimenu__link,
    .dropdown-item {
      padding: 0.25rem 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.075em;
      color: color("ipu-grey");
      font-weight: 400;
      font-size: 0.8rem;

      &:hover {
        background-color: color("ipu-teal");
        color: color("white");
      }

      &.is-active {
        background-color: color("ipu-teal-light");

        &:hover {
          background-color: color("ipu-teal");
          color: color("white");
        }
      }
    }
    &:last-child {
      border-right-width: 1px;
    }
  }
  .nav-item + .nav-item {
    margin-left: -4px;
  }
  #main-nav-right .navbar-nav {
    display: inline-block;
  }
}
main,
ol.breadcrumb {
  background-color: gray("100");
}
.cta-link {
  font-size: 0.65rem;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  &::after {
    font-family: "Font Awesome 5 Free", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    content: "\F093" !important;
  }
}

#views-bootstrap-sub-content-block-1 {
  .row {
    .sub-content > div {
      @include shadow-box();
      height: 100%;
      h3 a {
        color: color("ipu-teal");
        margin-top: 2px;
        margin-bottom: 5px;
        font-weight: 500;
      }
      .img-thumbnail {
        display: block;
        padding: 0;
        border-width: 0;
        border-radius: 0;
        max-width: calc(100% + 12px);
        margin: 4px -6px;
      }
    }
  }
}

.block--views-block--theme-list-block-1,
.block--views-block--theme-list-block-1-2 {
  .views-field-description__value {
    font-size: 0.75rem;
    line-height: 1em;
    font-weight: 300;
  }
  .col {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.term-icon a {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  &:hover {
    color: color("ipu-orange");
    text-decoration: none;
  }
}

a::before,
span::before {
  .term-icon & {
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    margin-right: 0.4rem;
  }

  .term-icon-88 & {
    background: url("../img/theme_icons/gender%20equality.svg");
  }

  .term-icon-139 & {
    background: url("../img/theme_icons/peace%20building.svg");
  }
  .term-icon-82 & {
    background: url("../img/theme_icons/human%20rights.svg");
  }
  .term-icon-198 & {
    background: url("../img/theme_icons/global%20development.svg");
  }
  .term-icon-231 & {
    background: url("../img/theme_icons/parliamentary%20dialogue.svg");
  }
  .term-icon-139 & {
    background: url("../img/theme_icons/peace%20building.svg");
  }
  .term-icon-19 & {
    background: url("../img/theme_icons/strong%20parliaments.svg");
  }
  .term-icon-117 & {
    background: url("../img/theme_icons/youth.svg");
  }
}

/* Mega menu Parliaments dropdown */
.ipu-map-country-select-form .form-item-isocode {
  float: left;
}
.ipu-map-country-select-form .button {
  text-transform: uppercase;
  margin: 0px 4px;
}

/* Subpages section on section pages */
.section-page-subpages-section {
  background-color: color("ipu-very-light-grey");
  padding: 20px 0;
  margin: 10px -15px 0 -15px; /* Push to edge of container-fluid without row */
  .section-page__dynamic-block-fieldnode-section-sub-pages {
    & > .field__label {
      color: color("ipu-teal");
      font-size: 1.6rem;
      line-height: 1.6em;
      font-weight: 500;
      border-bottom: 2px solid color("ipu-teal");
      margin-bottom: 4px;
    }
    #views-bootstrap-sub-content-block-1 {
      .highlight {
        background-color: color("white");
        padding: 4px;
        height: 100%;
        h2 a {
          font-size: 1rem;
          line-height: 1.1em;
          font-weight: 500;
          color: color("ipu-teal");
        }
      }
      .row {
        margin: 10px 0;
      }
    }
  }
}

.paragraph--type--sections {
  margin-top: 10px;
  .sections__field-section-title {
    margin: 10px 0 6px 0;
  }
}

.ipu-event__field-event-sub-page {
  .tab-pane {
    background-color: color("white");
    border: 1px solid color("ipu-light-grey");
    border-width: 0px 1px 1px 1px;
    box-shadow: color("ipu-light-grey");
  }
}

/* ipu event sessions */
.page__content .media img {
  max-width: 100%;
  height: auto;
}

.node-readmore .nav-link {
  border: 1px solid color("ipu-blue");
  padding: 0px 4px;
  border-radius: 1px;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.ipu-map-country {
  .ipu-map-flag img {
    height: 80px;
    width: auto;
    margin-right: 10px;
  }
}

// Block quote styles
.blockquote {
  width: 75%;
  margin-right: auto;
  margin-bottom: 2.5em;
  margin-left: auto;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  border-style: solid none;
  border-width: 1px;
  border-color: $tertiary;
  color: $ipu-grey;
  line-height: 1.25em;
  font-style: italic;
}

// List styles

ul,
ol,
dl {
  padding-left: 20px;
}

// Link styles
a.btn {
  text-decoration: none;
}

// Breadcrumb styles
.breadcrumb {
  font-size: $font-size-sm;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

// Country page

// Flag map
.ipu-map-flag {
  height: 2.5rem;
}

// Data points
.data-point-title {
  font-weight: $font-weight-bold;
}

// Statistics components
.stats {
  font-size: $font-size-sm;
}

.stats-item {
  min-height: 30px;
}

.stats-women {
  background-color: darkgrey;
  z-index: 1000;
}

.stats-men {
  background-color: grey;
}

.stats-circle {
  border-radius: 50%;
  background-color: $primary;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: $white;
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  margin-right: 10px;
}

.stats-title {
  color: $ipu-grey;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
}

// Borders
.ipu-border-bottom {
  border-bottom: 1px solid $ipu-grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

// Cards
.card {
  // box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

// Highlight cards base styles
.node--view-mode-highlight {
  position: relative;
  @extend .card;

  margin-bottom: $spacer;

  .article__node-post-date {
    font-size: $font-size-sm;
  }

  // Article type for all highlight cards
  .article__type {
    @extend .badge;
    @extend .badge-tertiary;
    position: absolute;
    top: -3px;
    left: -3px;;
    background-color: $tertiary;
    font-size: 0.6rem;
  }

  // Article content for all highlight cards
  .article__type-content {
    @extend .card-body;
  }

  .article__node-link a {
    &:hover,
    &:focus {
      background-color: $tertiary;
    }
  }
}

// Read more link base styles
.article__node-link a {
  @extend .btn;
  @extend .btn-sm;

  &:after {
    padding-left: 5px;
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  
}

// News specific (Brand blue)
.articles-card-news {
  .node--view-mode-highlight {
    @extend .text-white;
    @extend .bg-primary;

    a {
      @extend .text-white;
    }
  }

  .article__field-media-image + .article__type-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($primary, 0.8);
  }

  .article__node-link a {
    @extend .btn-outline-light;
  }
  
}

// Case study specific styles
.articles-card-case-study {

  .article__node-link a {
    @extend .btn-outline-dark;
  }
  
  .article__type {
    @extend .bg-secondary;
  }
  .article__node-title a {
    @extend .text-secondary;
  }
}

.more-data-parline {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-outline-primary;
  width: 100%;
  span::before {
    padding-right: 5px;
  }
}
// Currently removing row and column styles
// NOTE: May want to try and remove these in Drupal
// NOTE: Display suite is using Bootstrap 1 column layout
.node--view-mode-highlight.row {
  margin-left: 0;
  margin-right: 0;
}
.node--view-mode-highlight .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.articles-card-case-study h3,
.view-mode-highlight-sm h3 {
  font-size: $font-size-base;
}

// NOTE: May want to remove in Drupal
// Hide some things for now, where it would need a whole new template

.view-mode-highlight-sm .article__body {
  display: none;
}


.articles-card-case-study .article__node-post-date {
  display: none;
}

.text-white a {
  color: $white;
}